@import url("generics.css");
@import url("table.css");
@import url("color.css");
@import url("button.css");
@import url("formElemets.css");
@import url("forms.css");
@import url("ocena.css");
@import url("pdf.css");
@import url("mobile.css");
@import url("suzeni.css");

body {
  padding: 0.75rem 2.5rem;
  background-color: var(--white);
  gap: 2rem;
  color: var(--black);
  width: clamp(100px, 100%, 836px);
  min-height: 100vh;
}

body div {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.prijava * {
  user-select: none;
}


#tip {
  inset: 0;
  position: absolute;
  display: none;
  align-items: center;
  justify-items: center;
  background: rgba(5, 5, 5, 0.411);
  backdrop-filter: blur(5px);
  color: #fff;
}
#tip * {
  border-radius: 18px;
  display: block;
  width: max-content;
}

.naziv-predmeta {
  width: calc(100vw - 250px);
}

#menu {
  width: 100%;
  transition: 0.3s;
  position: fixed;
  background: white;
  inset: 0;
  gap: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  justify-items: center;
  right: auto;
  bottom: auto;
  padding: 1rem 2rem;
}
#menu form button,
#menu form input {
  width: 100%;
}
#find-ucenik-form {
  display: flex;
  align-items: stretch;
  gap: 10px;
}
#find-ucenik-form label {
  margin: 0;
}
#menu-button:checked ~ #menu {
  display: grid;
}
#menu-button-label {
  position: absolute;
  left: 12px;
  font-size: 24px;
  font-weight: bold;
  width: min-content;
  z-index: 3;
}
#menu-button:checked ~ label p {
  color: red;
}
.ocena-polje:placeholder-shown {
  background: red;
}
