#main-form > *, #insertJMBG {
  display: none;
}


.yes_no div:not(.buttons) {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}

#vuk-background, .vuk-bg {
  background: #fff;
  padding: 0.5rem 1rem;
  border-radius: 12px;
}

#main-form > div{
  padding-bottom:  120px;
}