#main-form > *, #insertJMBG {
  display: none;
}



.white-bg {
  background: #fff;
  padding: 0.5rem 1rem;
  border-radius: 12px;
}

#main-form > div{
  padding-bottom:  120px;
}
#find-ucenik-form {
  display: flex;
  align-items: stretch;
  gap: 10px;
}

