%sameStlye {
  display: flex;
  color: var(--black);
  border-radius: 99%;
  position: absolute;
  height: var(--ocena-btn-size);
  aspect-ratio: 1/1;
  text-align: center;
  align-items: center;
  justify-content: space-around;
}
%sameStyle2 {
  height: var(--ocena-btn-size);
  width: var(--ocena-btn-size);
  &:focus {
    outline: none;
  }
  &:focus::after {
    outline: 3px solid var(--primery-color);
  }
}

.ocena {
  @extend %sameStyle2;
  &::after {
    @extend %sameStlye;
    content: attr(data-ocena);
    font-size: 1.25rem;
  }

  #razredi {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
}

@for $razred from 2 through 5 {
  [data-ocena="#{$razred}"]:checked::after {
    background: hsl(36, 68%, 64%);
  }
}

.ocena-polje:placeholder-shown {
  background: red;
}
.razred {
  @extend %sameStyle2;
  &::after {
    @extend %sameStlye;
    content: attr(data-razred);
    background: #fff;
  }
  &:checked::after {
    background: hsl(98, 68%, 64%);
  }
}
