@import url("generics.css");
@import url("table.css");
@import url("color.css");
@import url("button.css");
@import url("formElemets.css");
@import url("forms.css");
@import url("ocena.css");
@import url("pdf.css");
@import url("mobile.css");

body {
  padding: 0.75rem 2.5rem;
  background-color: var(--white);
  gap: 2rem;
  color: var(--black);
  width: clamp(100px, 100%, 836px);
  min-height: 100vh;
}

body div {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.prijava * {
  user-select: none;
}

#tip {
  inset: 0;
  position: absolute;
  display: none;
  align-items: center;
  justify-items: center;
  background: rgba(5, 5, 5, 0.411);
  backdrop-filter: blur(5px);
  color: #fff;
}
#tip * {
  border-radius: 18px;
  display: block;
  width: max-content;
}

.naziv-predmeta {
  width: calc(100vw - 250px);
}
