@import url("generics.css");
@import url("table.css");
@import url("color.css");
@import url("button.css");
@import url("formElemets.css");
@import url("forms.css");
@import url("ocena.css");
@import url("pdf.css");

body {
  padding: 0.75rem 2.5rem;
  background-color: var(--white);
  gap: 2rem;
  color: var(--black);
  width: clamp(100px, 100%, 836px);
  min-height: 100vh;
}

body div {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.prijava * {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

[type="date"], [type="tel"], #dbroj, #jmbg {
  width: 15ch;
}
@media (min-width: 1025px) {
  
}

#tip{
  inset: 0;
  position: absolute;
  display: none;
  align-items: center;
  justify-items: center;
  background: rgba(5, 5, 5, 0.411);
  backdrop-filter: blur(5px);
  color: #fff;
}
#tip *{
  border-radius: 18px;
  display: block;
  width: max-content;
}

.buttons{
  position: sticky;
  bottom: 0;
  left: 0;
  padding: 0.75rem 2.5rem;

  background: #fff;
  max-width: 300vmin;
  display: flex;
}

#razredi{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
