table {
  border-collapse: collapse;
  border-radius: 18px;
  width: 100%;
  background-color: #fff;
}

th {
  color: var(--grey-600);
  font-weight: 500;
  border-bottom: 1px solid var(--primery-color);
  padding: 0.25rem 1rem;
}

td {
  padding: 0.25rem 1rem;
}
